*{
	margin: 0;
	padding: 0;
}

.container{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	background-color: #425252;
}

.container-cell{
	width: 50%;
	height: 50%;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 25% 25% 25% 25%;
	background-color: #891252;
}

.container-piece{
	width: 50%;
	height: 50%;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 25% 25% 25% 25%;
	background-color: gray;
}

#dialog{
	position: absolute;
	width: 50%;
	height: 40%;
	background-color: white;
	display: none;
	margin: auto;
}